Source: asim-core
Priority: optional
Maintainer:  Asim/Awb Software Releases <releases@asim.csail.mit.edu>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.1
Section: libs
Homepage: http://asim.csail.mit.edu

Package: asim-core-dev
Section: libdevel
Architecture: any
Depends: asim-core (= ${binary:Version})
Description: Asim core libraries
 Asim core libraries

Package: asim-core
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, awb
Description: Asim core libraries
 Asim core libraries
